<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/img/fav.png"/>
<link rel="stylesheet" href="/css/basic.css" type="text/css"/>
<title>Main</title>
</head>
<body>
<img src="/img/google.png" alt="Google Logo"/>
<div class="basefont">
{{if .User}}
<p class="auth">
  Hi, you are logged in! Your email is {{.User.Email}}.
  <a href="#" id="logout">Logout</a>
</p>
{{else}}
<p class="auth">
  Sign in <a href="#" id="login">Persona</a>
</p>
{{end}}
</div>
<div id="AuthError" style="visibility: hidden;">
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//login.persona.org/include.js"></script>
<script>
  function parse(res) {
    return JSON && JSON.parse(res) || $.parseJSON(res)
  }
{{if .User}}
  $('#logout').click(function() {
    navigator.id.logout();
  });

  navigator.id.watch({
    loggedInUser: "{{js .User.Email}}",
    onlogin: function(assertion) {
    },
    onlogout: function() {
      $.ajax({
        type: 'POST',
        url: '/logout', // This is a URL on your website.
        success: function(res, status, xhr) {
          window.location.reload();
        },
        error: function(xhr, status, err) {
          $("#AuthError").html("Connection problem");
          $("#AuthError").show();
        }
      });
    }
  });
{{else}}
  $('#login').click(function() {
    console.log('in login handler');
    navigator.id.request();
  });

  navigator.id.watch({
    loggedInUser: null,
    onlogin: function(assertion) {
      $.ajax({
        type: 'POST',
        url: '/login', // This is a URL on your website.
        data: {assertion: assertion},
        success: function(res, status, xhr) {
          var obj = parse(res);
          switch (obj.Status) {
          case 0:
            // Logged in
            break;
          case 1:
            window.location = "/newuser"
            break;
          default:
            $("#AuthError").html("Error signing in");
            $("#AuthError").show();
            break;
          }
        },
        error: function(xhr, status, err) {
          $("#AuthError").html("Connection problem");
          $("#AuthError").show();
        }
      });
    },
    onlogout: function() {
    }
  });
{{end}}
</script>
</body>
</html>
