<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/img/fav.png"/>
<link rel="stylesheet" href="/css/basic.css" type="text/css"/>
<link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Cambria">
<title>Main</title>
</head>
<body>
<img src="/img/google.png" alt="Google Logo"/>
<div class="basefont">
<p class="auth">
  Hi {{.User.UserName}}, you are logged in! Your email is {{.User.Email}}.
  <a href="#" id="logout">Logout</a>
</p>
</div>
</div>
{{$ctx := .}}
{{range .Posts}}
<p class="post">
  <b>{{call $ctx.FormatTime .Time}}</b> {{.Text}}
</p>
{{else}}
<p class="post">
  User haven't posted yet.
</p>
{{end}}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//login.persona.org/include.js"></script>
<script src="/js/script.js"></script>
<script>
  $('#logout').click(function() {
    navigator.id.logout();
  });

  watchAuth("{{js .User.Email}}");
</script>
</body>
</html>
