<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/img/fav.png"/>
<link rel="stylesheet" href="/css/basic.css" type="text/css"/>
<title>Main</title>
</head>
<body>
<img src="/img/google.png" alt="Google Logo"/>
<div class="basefont">
{{if .User}}
<p class="auth">
  Hi, you are logged in! Your email is {{.User.Email}}.
  <a href="#" id="logout">Logout</a>
</p>
{{else}}
<p class="auth">
  Sign in <a href="#" id="login">Persona</a>
</p>
{{end}}
</div>
<div id="AuthError" style="visibility: hidden;">
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.8.3/jquery.min.js"></script>
<script src="//login.persona.org/include.js"></script>
<script>
  function parse(res) {
    return JSON && JSON.parse(res) || $.parseJSON(res)
  }
{{if .User}}
  $('#logout').click(function() {
    navigator.id.logout();
  });
{{else}}
  $('#login').click(function() {
    navigator.id.request();
  });
{{end}}
  navigator.id.watch({
   loggedInUser: {{if .User}}"{{js .User.Email}}"{{else}}null{{end}},
    onlogin: login,
    onlogout: logout,
  });

  function login(assertion) {
    $.ajax({
      type: 'POST',
      url: '/login',
      data: {assertion: assertion},
      success: function(res, status, xhr) {
        var obj = parse(res);
        switch (obj.Status) {
        default:
        case 0:
          window.location.reload();
          break;
        case 1:
          window.location = "/newuserform";
          break;
        }
      },
    });
  }

  function logout() {
    $.ajax({
      type: 'POST',
      url: '/logout', // This is a URL on your website.
      success: function(res, status, xhr) {
        window.location.reload();
      }
    });
  }
</script>
</body>
</html>
