<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/img/fav.png"/>
<link rel="stylesheet" href="/css/basic.css" type="text/css"/>
<title>New User</title>
</head>
<body>
<div class="basefont">
Introduce to us
<form action="/newuser" method=post>
  <label for="firstName">First Name</label>
  <input type=text name="firstName" id="firstName" tabindex=1><br>
  <label for="lastName">Last Name</label>
  <input type=text name="lastName" id="lastName" tabindex=2><br>
  <label for="userName">User Name</label>
  <input type=text name="userName" id="userName" tabindex=3><br>
  <label for="password">Password</label>
  <input type=password name="password" id="password" tabindex=4><br>
  <input type=submit value="Submit" tabindex=5>
</form>
</div>
</body>
</html>
