<!DOCTYPE html>
<html>
<head>
<meta charset="utf-8">
<link rel="shortcut icon" href="/img/fav.png"/>
<link rel="stylesheet" href="/css/basic.css" type="text/css"/>
<title>New User</title>
</head>
<body>
<div class="basefont">
Introduce to us
<form action="/newuser" method=post>
  <input type=hidden name="email" value="{{.Email}}">
  <label for="FirstName">First Name</label>
  <input type=text name="first_name" id="first_name"><br>
  <label for="LastName">Last Name</label>
  <input type=text name="last_name" id="last_name"><br>
  <input type=submit value="Submit">
</form>
</div>
</body>
</html>
