<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <style type="text/css">
    img.userpic { width: 96px; height: 96px;}
  </style>
</head>
<body>
<div id="header">
<img src="{{&account.picture}}" alt="User picture" id="userPicture" class="userpic" style="-webkit-filter: invert(100%);"/>
<img src="/static/default-userpic.png" alt="Default userpic" class="userpic"/>
Hello {{account.email}} ({{account.login}}, {{account.given_name}})! <a href="/logout">Logout</a>.
</div>
<div id="newPost">
  <form method="post" action="javascript: return false;" id="postForm">
    <textarea name="text" cols="40" rows="5"></textarea>
    <input type="submit"/>
  </form>
</div>
<h3>My feed:</h3>
<div id="loadFeedDiv" style="display: none;">
  New posts available. <a id="loadFeed" href="#">Refresh</a>.
</div>
<div id="feed">
{{#feed}}
<p>{{text}}</p>
{{/feed}}
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
(function() {
  function postForm() {
    $.ajax({
      cache: false,
      url: '/create',
      type: 'post',
      data: $('#postForm').serialize(),
      success: function(data) {
        $('#postForm textarea').val('');
        pollFeed(1000);
      }
    });
    return false;
  }

  var feedTime = {{feedTime}};
  function checkFeedUpdates() {
    $.ajax({
      cache: false,
      url: '/feedtime',
      type: 'get',
      data: {since: feedTime},
      success: function(data) {
        if (data.count !== 0) {
          $('#loadFeedDiv').show(400);
        } else {
          pollFeed();
        }
      }
    });
  }
  function loadFeed() {
    $.ajax({
      cache: false,
      url: '/feed',
      type: 'get',
      data: {since: feedTime},
      success: function(data) {
        $('#feed').prepend(data.html);
        feedTime = data.feedTime;
        $('#loadFeedDiv').hide(400);
        pollFeed();
      }
    });
  }

  var pollTimerID;
  function pollFeed(t) {
    if (!t) {
      t = 5000;
    }
    clearTimeout(pollTimerID);
    pollTimerID = setTimeout(checkFeedUpdates, t);
  }

  $(document).ready(function() {
    $('#postForm').submit(postForm);
    pollFeed();
    $('#loadFeed').click(loadFeed);
  });
}());
</script>
</body>
</html>
