<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <title>{{title}}</title>
  <style type="text/css">
    img.userpic { width: 96px; height: 96px;}
  </style>
</head>
<body>
<div id="header">
<img src="{{&account.picture}}" alt="User picture" id="userPicture" class="userpic" style="-webkit-filter: invert(100%);"/>
Hello {{account.email}}! Select your userid (login):
</div>
<div>
  <form method="post" action="javascript: return false;" id="useridForm">
    <input type="text" name="userid" autocomplete="off" autofocus="autofocus" id="userid"/>
    <input type="submit"/>
  </form>
  <div id="useridError" style="display:none;"></div>
</div>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.10.2/jquery.min.js"></script>
<script type="text/javascript">
(function() {
  function postForm() {
    $.ajax({
      cache: false,
      url: '/createuserid',
      type: 'post',
      data: $('#useridForm').serialize(),
      success: function(data) {
        if (data.ok) {
          window.location.replace("/");
        } else {
          $("#useridError").text(data.useridError);
          $("#useridError").show();
          $("#userid").focus();
        }
      }
    });
    return false;
  }

  $(document).ready(function() {
    $('#useridForm').submit(postForm);
  });
}());
</script>
</body>
</html>
