[alias]
  meld = !/home/igor/bin/git-meld.pl
  sh = stash
  co = checkout
  cp = cherry-pick
  br = branch
  st = status -s
  ci = commit
  am = commit --amend
  pr = pull -r
  re = rebase -i
  rc = rebase --continue
  ra = rebase --abort
  last = log -1
  aa = add -u
  ps = push
[user]
  name = Igor Demura
  email = igor.demura@gmail.com
[push]
  default = simple
[credential]
  helper = cache --timeout=3600
[credential "https://github.com"]
  username = idemura

