#errid {
  font-family: "Arial", sans;
  font-size: 32pt;
  font-weight: bold;
}
#errstring {
  font-family: "Arial", sans;
  font-size: 16pt;
}
.desc {
  font-family: "Droid Serif", "DejaVu Serif", serif;
  font-size: 12pt;
}
