<!DOCTYPE html>
<html>

<head>
<meta charset="UTF-8"/>
<title>Title is here</title>
<style type="text/css">
  input.command {
    padding-left: 1px;
    border-style: solid;
    border-color: #c0c0c0;
    border-width: 1px;
    font-family: Menlo, DejaVu Sans Mono, Consolas, monospace;
    font-size: 14pt;
    padding-left: 1px;
  }
</style>
</head>

<body>
<div>
  <a href="#" id="GoogleOauth2Login">Login with Google</a>
</div>
<form action="/command" method="post">
  <input type="text" name="command" class="command" tabindex="1" autofocus="autofocus"/>
</form>
</body>

</html>
